# Mise en place du notebook

In [1]:
# Paramètre(s) du notebook
ignore_warning=True
# ignore_warning=False

# VERBOSE=True
VERBOSE=True

OPTIONS=""
if not VERBOSE:
    OPTIONS="--quiet"

# Mise en place des bibliothèques

In [2]:
# Importation des librairies externes
!pip install git+https://github.com/InseeFrLab/Py-Insee-Data@52139da402bc33da6b8892d7d3208f1d2ddfaa02 --ignore-install PyYAML $OPTIONS
!pip install python-Levenshtein $OPTIONS
!pip install openpyxl $OPTIONS
!pip install fuzzywuzzy $OPTIONS
#!pip install pynsee[full]

Collecting git+https://github.com/InseeFrLab/Py-Insee-Data@52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Cloning https://github.com/InseeFrLab/Py-Insee-Data (to revision 52139da402bc33da6b8892d7d3208f1d2ddfaa02) to /tmp/pip-req-build-jdd0mum4
  Running command git clone --filter=blob:none --quiet https://github.com/InseeFrLab/Py-Insee-Data /tmp/pip-req-build-jdd0mum4
  Running command git rev-parse -q --verify 'sha^52139da402bc33da6b8892d7d3208f1d2ddfaa02'
  Running command git fetch -q https://github.com/InseeFrLab/Py-Insee-Data 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Running command git checkout -q 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Resolved https://github.com/InseeFrLab/Py-Insee-Data to commit 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting PyYAML
  Downloading PyYAML-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (682 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 682.2/682.2 kB 15.1 MB/s eta 0:00:00a 0:00:01
Collecting pandas>=0.24.2
  Downloading pandas-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 15.3 MB/s eta 0:00:0000:0100:01
Collecting unidecode>=1.2.0
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 1.3 MB/s eta 0:00:0000:01
Collecting pathlib2>=2.3.5
  Downloading pathlib2-2.3.7.post1-py2.py3-none-any.whl (18 kB)
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting tqdm>=4.56.0
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 38.3 MB/s eta 0:00:00
Collecting requests>=2.25.1
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 34.8 MB/s eta 0:00:00
Collecting datetime>=3.5.9
  Downloading DateTime-4.7-py2.py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.2/52.2 kB 23.5 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-5.5.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (258 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 258.9/258.9 kB 17.7 MB/s eta 0:00:00
Collecting pytz
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 498.1/498.1 kB 3.3 MB/s eta 0:00:0000:01
Collecting python-dateutil>=2.8.1
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.7/247.7 kB 14.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 16.7 MB/s eta 0:00:0000:0100:01
Collecting six
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 7.3 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.4/140.4 kB 40.3 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 161.1/161.1 kB 36.5 MB/s eta 0:00:00
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting setuptools
  Using cached setuptools-65.5.1-py3-none-any.whl (1.2 MB)
Building wheels for collected packages: pynsee
  Building wheel for pynsee (pyproject.toml) ... done
  Created wheel for pynsee: filename=pynsee-0.0.1-py3-none-any.whl size=44931166 sha256=66392972ad5edf40bae48c693a468177ce3982338477bf3e720ebe406ff48426
  Stored in directory: /home/onyxia/.cache/pip/wheels/91/1c/a4/b97cd4cfe37fcf99f2b02c860597971db714b5f22225cad15b
Successfully built pynsee
Installing collected packages: pytz, appdirs, urllib3, unidecode, tqdm, six, setuptools, PyYAML, numpy, idna, charset-normalizer, certifi, zope.interface, requests, python-dateutil, pathlib2, pandas, datetime, pynsee
Successfully installed PyYAML-6.0 appdirs-1.4.4 certifi-2022.9.24 charset-normalizer-2.1.1 datetime-4.7 idna-3.4 numpy-1.23.4 pandas-1.5.1 pathlib2-2.3.7.post1 pynsee-0.0.1 python-dateutil-2.8.2 pytz-2022.6 requests-2.28.1 setuptools-65.5.1 six-1.16.0 tqdm-4.64.1 unidecode-1.3.6 urllib3-1.26.12 zope.interface-5.5.1
Collecting python-Levenshtein
  Downloading python_Levenshtein-0.20.8-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.8
  Downloading Levenshtein-0.20.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.1/174.1 kB 7.7 MB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 23.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.20.8 python-Levenshtein-0.20.8 rapidfuzz-2.13.2
Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 5.0 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [3]:
# Importation des librairies classiques de python
import unicodedata
import requests
import time
import os
from tqdm import tqdm
import io
import warnings

# Importation des librairies de datascience et autres
import pandas as pd
import numpy as np
import pynsee
import pynsee.download
from pynsee.sirene import *
from pynsee.utils.init_conn import init_conn
from zipfile import ZipFile
from fuzzywuzzy import fuzz
from bs4 import BeautifulSoup

In [4]:
insee_key = "5L9J5YHbHq6lgCfv8ITH6f429VEa"
insee_secret = "XbyKQqhwVnofxT_ciBVksw8ffU8a"

In [5]:
# token API insee
#init_conn(insee_key=os.environ['INSEE_KEY'], insee_secret=os.environ['INSEE_SECRET'])
init_conn(insee_key=insee_key, insee_secret=insee_secret)

# Outils d'appareillement de code commune (qui varient d'année en année)

In [85]:
#le choix est fait de travailler en géographie de l'Insee 2021. 

cog_commune = pynsee.download.telechargerDonnees("COG_COMMUNE", date = "dernier")
URL_COG_2021="https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip"

#Télécharger le zip de l'URL
r=requests.get(URL_COG_2021)

open("commune2021-csv.zip", 'wb').write(r.content)
    
    
with ZipFile("commune2021-csv.zip",'r') as myzip:
   data = myzip.open("commune2021.csv")

donnees_cog_2021=pd.read_csv(data,dtype=str)
# On enleve les communes associées,arrondissements et déléguées pour simplifier le dataframe
donnees_cog_2021=donnees_cog_2021[~donnees_cog_2021.TYPECOM.isin(["COMA","COMD","ARM"])]
donnees_cog_2021['NCC et DEP']= donnees_cog_2021['NCC'] + " " + donnees_cog_2021['DEP']
donnees_cog_2021['NCC et COM']= donnees_cog_2021['NCC'] + " ," + donnees_cog_2021['COM']

Data will be stored in the following location: /tmp/tmpa9k7dyvu

Downloading:  96%|█████████▋| 1.65M/1.71M [00:00<00:00, 9.90MiB/s]
/opt/mamba/lib/python3.10/site-packages/pynsee/download/__init__.py:182: UserWarning: File in insee.fr modified or corrupted during download
  warnings.warn("File in insee.fr modified or corrupted during download")

No destination directory defined. Data have been written there: /tmp/tmpttm045tn

Extracting: 100%|██████████| 6.86M/6.86M [00:00<00:00, 113MB/s]

In [86]:
donnees_cog_2021.sample(10)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT,NCC et DEP,NCC et COM
23942,COM,59227,32,59,59D,593,0,FENAIN,Fenain,Fenain,5935,NaN,FENAIN 59,"FENAIN ,59227"
19215,COM,50072,28,50,50D,503,0,BRAINVILLE,Brainville,Brainville,5010,NaN,BRAINVILLE 50,"BRAINVILLE ,50072"
36061,COM,88055,44,88,88D,881,0,BETTEGNEY SAINT BRICE,Bettegney-Saint-Brice,Bettegney-Saint-Brice,8803,NaN,BETTEGNEY SAINT BRICE 88,"BETTEGNEY SAINT BRICE ,88055"
31379,COM,74016,84,74,74D,743,1,ARCHAMPS,Archamps,Archamps,7413,NaN,ARCHAMPS 74,"ARCHAMPS ,74016"
30332,COM,71266,27,71,71D,711,0,LUCENAY L EVEQUE,Lucenay-l'Évêque,Lucenay-l'Évêque,7101,NaN,LUCENAY L EVEQUE 71,"LUCENAY L EVEQUE ,71266"
20901,COM,52492,44,52,52D,522,0,TORCENAY,Torcenay,Torcenay,5203,NaN,TORCENAY 52,"TORCENAY ,52492"
7536,COM,21421,27,21,21D,212,0,MOLOY,Moloy,Moloy,2116,NaN,MOLOY 21,"MOLOY ,21421"
26423,COM,62828,32,62,62D,624,0,TRAMECOURT,Tramecourt,Tramecourt,6206,NaN,TRAMECOURT 62,"TRAMECOURT ,62828"
37208,COM,91345,11,91,91D,913,0,LONGJUMEAU,Longjumeau,Longjumeau,9111,NaN,LONGJUMEAU 91,"LONGJUMEAU ,91345"
27079,COM,64104,75,64,64D,642,0,BEDOUS,Bedous,Bedous,6414,NaN,BEDOUS 64,"BEDOUS ,64104"

In [87]:
display(donnees_cog_2021.describe())

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT,NCC et DEP,NCC et COM
count,34965,34965,34965,34965,34965,34948,34965,34965,34965,34965,34849,0,34965,34965
unique,1,34965,18,101,100,332,8,32488,32553,32707,2039,0,34963,34965
top,COM,01001,44,62,62D,621,0,SAINTE COLOMBE,Sainte-Colombe,Sainte-Colombe,5723,NaN,LONGEVILLE 25,"ABERGEMENT CLEMENCIAT ,01001"
freq,34965,1,5121,890,890,357,28696,12,12,12,135,NaN,2,1

In [89]:
#fonction pour trouver une commune à partir d'un libellé (codage/codification) à l'aide de la librairie fuzzywuzzy

def trouve_commune_with_fuzz(libelle,dep):
    mondf=donnees_cog_2021[donnees_cog_2021['DEP']==dep]
    mondf['score']=mondf['NCC'].apply(lambda x: fuzz.token_sort_ratio(x,libelle))
    mondf=mondf.sort_values(by="score",ascending=False)
    return mondf['NCC et COM'].iloc[0]

if not donnees_cog_2021.empty:
    print("2 - Téléchargement du Code Officiel Géographi  ====> c'est bon ")
else:
    print("2 - Téléchargement du Code Officiel Géographi  ====> c'est pas bon ")

2 - Téléchargement du Code Officiel Géographi  ====> c'est bon

# Récupérations de données socio-économiques à partir de divers sources

##### [Utilisation de l'API des fichiers locaux](https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#tab2) de l'INSEE

In [90]:
# version graphique : https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#!/default/getDonnees 
# Commmande cURL équivalente
# curl -X GET --header 'Accept: application/xml' --header 'Authorization: Bearer 1be1a6b6-2e8e-335e-8a5d-91607845b110' 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-INDICS_FILO_DISP_DET@GEO2021FILO2019/COM-75056.1'

In [91]:
headers = {
    'Accept':'application/xml'
}

Malheureusement l'API est limitée : on ne peut télécharger qu'une fiche par une fiche et 30 fiches par jours par clé. Vu qu'une fiche correspond à une commune c'est limité. Une telle API a son utilisé si on veut mettre un place un outil de recherche graphique comme [l'INSEE l'a fait](https://www.insee.fr/fr/statistiques/zones/6037462). Pour notre utilité cela est limitée, c'est d'ailleurs expliqué sur la [page](https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#tab2:~:text=Nota%20Bene%C2%A0%3A%20Les%20bases%20de%20donn%C3%A9es%20du%20RP%20mises%20%C3%A0%20disposition%20sur%20insee.fr%20ne%20sont%20pas%20soumises%20%C3%A0%20ces%20restrictions%2C%20notamment%20pour%20permettre%20un%20usage%20expert%20des%20donn%C3%A9es%20et%20la%20reconstitution%20%C3%A9ventuelle%20d%E2%80%99information%20sur%20des%20regroupements%20de%20communes%20%C3%A0%20fa%C3%A7on).

## Téléchargements directs depuis le site de l'INSEE (à défaut de l'utilisation de l'API pas encore suffisament opérationnelle)

### Téléchargement des données Filosofi avec les principaux indicateurs de pauvreté et de revenus

In [117]:
# URL de la page à télécharger : https://www.insee.fr/fr/statistiques/6036902
URL_FILO_ZIP_2019="https://www.insee.fr/fr/statistiques/fichier/6036902/base-cc-filosofi-2019_CSV.zip"
nom = URL_FILO_ZIP_2019.split('/')[-1]
response=requests.get(URL_FILO_ZIP_2019)
if response.status_code == 200:
        with open(nom, 'wb') as f:
            f.write(response.content)
with ZipFile(nom, 'r') as zipfile :
    nom_fichier_data = "cc_filosofi_2019_COM.csv"
    nom_fichier_meta = "meta_"+nom_fichier_data
    data = zipfile.open(nom_fichier_data)
    meta = zipfile.open(nom_fichier_meta)
donnees_filo_ind_communes_2019=pd.read_csv(data, sep=";", low_memory=False) 
table_var_filo_ind_com_2019 = pd.read_csv(meta, sep=";", low_memory=False)

In [118]:
donnees_filo_ind_communes_2019.sample(10)

,CODGEO,NBMENFISC19,NBPERSMENFISC19,MED19,PIMP19,TP6019,TP60AGE119,TP60AGE219,TP60AGE319,TP60AGE419,...,PPEN19,PPAT19,PPSOC19,PPFAM19,PPMINI19,PPLOGT19,PIMPOT19,D119,D919,RD19
8320,24501,216,471,19290,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
4200,12209,299,639,19870,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
14802,39296,96,238,22370,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1266,03075,77,152,21960,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
14857,39361,73,196,19650,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
5829,17280,322,793,21110,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
26408,67326,690,1612,28870,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
3411,10276,153,339,22320,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
21849,59050,140,331,21910,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
14467,38476,320,872,23800,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s

In [94]:
table_var_filo_ind_com_2019.sample(10)

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR
16631,CODGEO,Code géographique,Code géographique,45194,Mardié,CHAR,5
22630,CODGEO,Code géographique,Code géographique,60157,Clermont,CHAR,5
10592,CODGEO,Code géographique,Code géographique,2A019,Arbori,CHAR,5
2557,CODGEO,Code géographique,Code géographique,08187,Gernelle,CHAR,5
17912,CODGEO,Code géographique,Code géographique,50259,Juilley,CHAR,5
19337,CODGEO,Code géographique,Code géographique,53129,Launay-Villiers,CHAR,5
21776,CODGEO,Code géographique,Code géographique,58260,Saint-Parize-le-Châtel,CHAR,5
28156,CODGEO,Code géographique,Code géographique,71339,Ozolles,CHAR,5
21919,CODGEO,Code géographique,Code géographique,59093,Boulogne-sur-Helpe,CHAR,5
23804,CODGEO,Code géographique,Code géographique,62269,Diéval,CHAR,5

### Téléchargement des données des populations légales du millénisme 2019

In [95]:
#Téléchargement des populations légales du millénisme 2018 
URL_POP_LEG="https://www.insee.fr/fr/statistiques/fichier/6011070/ensemble.zip"

#Télécharger le zip de l'URL
r=requests.get(URL_POP_LEG)

open("ensemble.zip", 'wb').write(r.content)
    
    
with ZipFile("ensemble.zip",'r') as myzip:
    data = myzip.open("donnees_communes.csv")

donnees_pop_leg_19=pd.read_csv(data,sep=';',dtype=str)
donnees_pop_leg_19["CODE_INSEE"]=donnees_pop_leg_19["CODDEP"]+donnees_pop_leg_19["CODCOM"]
donnees_pop_leg_19=donnees_pop_leg_19.set_index("CODE_INSEE")

In [96]:
if VERBOSE:
    display(donnees_pop_leg_19.head(10))
if VERBOSE:
    display(donnees_pop_leg_19.describe())
   
if not donnees_pop_leg_19.empty:
    print("6 - Téléchargement des populations légales  ====> c'est bon ")
else:
    print("6 - Téléchargement des populations légales  ====> c'est pas bon ")

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
CODE_INSEE,,,,,,,,,,
01001,84,Auvergne-Rhône-Alpes,01,2,08,001,L'Abergement-Clémenciat,779,19,798
01002,84,Auvergne-Rhône-Alpes,01,1,01,002,L'Abergement-de-Varey,256,1,257
01004,84,Auvergne-Rhône-Alpes,01,1,01,004,Ambérieu-en-Bugey,14134,380,14514
01005,84,Auvergne-Rhône-Alpes,01,2,22,005,Ambérieux-en-Dombes,1751,25,1776
01006,84,Auvergne-Rhône-Alpes,01,1,04,006,Ambléon,112,6,118
01007,84,Auvergne-Rhône-Alpes,01,1,01,007,Ambronay,2800,115,2915
01008,84,Auvergne-Rhône-Alpes,01,1,01,008,Ambutrix,762,15,777
01009,84,Auvergne-Rhône-Alpes,01,1,04,009,Andert-et-Condon,326,9,335
01010,84,Auvergne-Rhône-Alpes,01,1,10,010,Anglefort,1105,17,1122
01011,84,Auvergne-Rhône-Alpes,01,4,14,011,Apremont,368,11,379

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
count,34990,34990,34990,34990,34990,34990,34990,34990,34990,34990
unique,17,17,100,9,59,908,32732,5899,719,5930
top,44,Grand Est,62,2,02,077,Sainte-Colombe,139,3,117
freq,5121,5121,890,10778,1885,89,12,76,2338,73

6 - Téléchargement des populations légales  ====> c'est bon

### Téléchargement des données d'emploi localisées

In [97]:

URL_TAUX_CHOMAGE_15_24_PAR_COM="https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/api/v1/functions/GC_API_download.php?type=stat&nivgeo=com2021&dataset=indic_sex_rp&indic=tx_chom1524"


donnees_chomage_15_24_par_com=pd.read_excel(URL_TAUX_CHOMAGE_15_24_PAR_COM, sheet_name='Data',skiprows=4)

In [19]:
if VERBOSE:
   display(donnees_chomage_15_24_par_com.head(10))

  codgeo                   libgeo    an sexe  tx_chom1524
0  01001  L'Abergement-Clémenciat  2008    F          8.3
1  01001  L'Abergement-Clémenciat  2008    H         13.8
2  01001  L'Abergement-Clémenciat  2008    T         12.2
3  01001  L'Abergement-Clémenciat  2013    F         16.7
4  01001  L'Abergement-Clémenciat  2013    H         38.5
5  01001  L'Abergement-Clémenciat  2013    T         28.0
6  01001  L'Abergement-Clémenciat  2018    F         42.9
7  01001  L'Abergement-Clémenciat  2018    H         26.3
8  01001  L'Abergement-Clémenciat  2018    T         30.8
9  01002    L'Abergement-de-Varey  2008    F         50.0

In [20]:
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com[donnees_chomage_15_24_par_com["an"]==2019]
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com_travail[donnees_chomage_15_24_par_com_travail["sexe"]=="T"]
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com_travail.set_index("codgeo")

In [21]:
if VERBOSE:
    display(donnees_chomage_15_24_par_com_travail)
if not donnees_chomage_15_24_par_com_travail.empty:
    print("7 - Téléchargement des données d'emplois localisées  ====> c'est bon ")
else:
    print("7 - Téléchargement des données d'emplois localiséess  ====> c'est pas bon ")

Empty DataFrame
Columns: [libgeo, an, sexe, tx_chom1524]
Index: []

7 - Téléchargement des données d'emplois localiséess  ====> c'est pas bon

In [22]:
%store donnees_filo_ind_communes_2019

Stored 'donnees_filo_ind_communes_2019' (DataFrame)

Réalisation d'une grosse base de données avec toutes les données Filosofi

In [120]:
donnees_pop_leg_19.head()
donnees_pop_leg_19 = donnees_pop_leg_19.assign(codgeo = donnees_pop_leg_19['CODDEP'] + donnees_pop_leg_19['CODCOM'])
donnees_pop_leg_19['PTOT'] = donnees_pop_leg_19['PTOT'].astype({'PTOT':float})

donnees_filo_ind_communes_2019[['MED19','TP6019','RD19']] = donnees_filo_ind_communes_2019[['MED19','TP6019','RD19']].replace({'s':np.NaN})
donnees_filo_ind_communes_2019[['TP6019','RD19']] = donnees_filo_ind_communes_2019[['TP6019','RD19']].apply(lambda x: x.str.replace(',', '.'))
donnees_filo_ind_communes_2019 = donnees_filo_ind_communes_2019.astype({'MED19':float, 'TP6019':float,'RD19':float})

In [146]:
# Données d'emploi localisées
base_travail = donnees_chomage_15_24_par_com[['codgeo','tx_chom1524']][donnees_chomage_15_24_par_com['an']==2018][donnees_chomage_15_24_par_com['sexe']=="T"]
base_travail.rename(columns={'tx_chom1524':'tx_chom1524_T'}, inplace=True)

# Données de population
base_travail = base_travail.merge(donnees_pop_leg_19[['codgeo','PTOT']], on = 'codgeo')
base_travail.rename(columns={'PTOT':'pop_tot'}, inplace=True)

# Données géographiques
base_travail = base_travail.merge(donnees_cog_2021[['COM','DEP','REG']], left_on = 'codgeo', right_on = 'COM')
base_travail.drop(columns=['COM'], inplace = True)

# Données socio-économiques
donnees_filo_ind_communes_2019.rename(columns={'CODGEO':'codgeo'}, inplace=True)
base_travail = base_travail.merge(donnees_filo_ind_communes_2019[['codgeo','MED19','TP6019','RD19']], on = 'codgeo')
base_travail.rename(columns={'MED19':'rev_median','TP6019':'tx_pauv','RD19':'rat_interDec'}, inplace=True)
base_travail.set_index('codgeo',inplace = True)
base_travail.sample(10)

/tmp/ipykernel_224/751867081.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  base_travail = donnees_chomage_15_24_par_com[['codgeo','tx_chom1524']][donnees_chomage_15_24_par_com['an']==2018][donnees_chomage_15_24_par_com['sexe']=="T"]

        tx_chom1524_T  pop_tot DEP REG  rev_median  tx_pauv  rat_interDec
codgeo
64095            19.4    604.0  64  75     22660.0      NaN           NaN
52398            37.9    646.0  52  44     19630.0      NaN           NaN
37199            15.4    480.0  37  24     19880.0      NaN           NaN
14737            20.0    508.0  14  28     23090.0      NaN           NaN
62791             NaN     51.0  62  32         NaN      NaN           NaN
16066            28.6    472.0  16  75     18390.0      NaN           NaN
24338            15.4    437.0  24  75     20310.0      NaN           NaN
58227            19.6   1250.0  58  27     20110.0      NaN           NaN
69059            25.7   1565.0  69  84     27050.0      NaN           NaN
13049            23.0   2078.0  13  93     25540.0      NaN           2.8

Nous allons maintennat procéder au nettoyage des données :

In [147]:
# Pour des questions de praticité, nous nous passerons de la Corse et des Outre-mers
base_travail = base_travail[base_travail['DEP'] != "2A"]
base_travail = base_travail[base_travail['DEP'] != "2B"]
base_travail = base_travail.astype({'DEP': int})
base_travail = base_travail[base_travail['DEP'] <= 95]
base_travail = base_travail.astype({'DEP': str})
base_travail.sample(10)

        tx_chom1524_T  pop_tot DEP REG  rev_median  tx_pauv  rat_interDec
codgeo
01369            25.0    967.0   1  84     25610.0      NaN           NaN
80555            30.3    620.0  80  32     21050.0      NaN           NaN
22081            27.0   4280.0  22  53     22980.0      6.0           2.5
59610            35.0   1082.0  59  32     23200.0      NaN           NaN
10440             0.0    152.0  10  44     26610.0      NaN           NaN
95051            25.7   8781.0  95  11     27440.0      9.0           3.3
57069            40.0    470.0  57  44     23330.0      NaN           NaN
80332            11.8    406.0  80  32     20430.0      NaN           NaN
39335            26.1    578.0  39  27     20170.0      NaN           NaN
55467            32.0    703.0  55  44     20740.0      NaN           NaN

In [145]:
display(base_travail.describe())
base_travail.isna().sum()

       tx_chom1524_T        pop_tot    rev_median      tx_pauv  rat_interDec
count   33763.000000   34454.000000  31040.000000  4243.000000   5210.000000
mean       24.485866    1810.456231  22079.434601    13.242988      2.923301
std        16.589090    7979.691763   3021.043399     6.240702      0.556145
min         0.000000       1.000000  11730.000000     5.000000      2.000000
25%        14.600000     204.000000  20180.000000     9.000000      2.600000
50%        23.400000     469.000000  21620.000000    12.000000      2.800000
75%        33.300000    1179.000000  23460.000000    17.000000      3.100000
max       100.000000  498596.000000  51720.000000    46.000000      9.400000

DEP                  0
tx_chom1524_T      691
pop_tot              0
rev_median        3414
tx_pauv          30211
rat_interDec     29244
dtype: int64