# Mise en place du notebook

In [1]:
# Paramètre(s) du notebook
ignore_warning=True
# ignore_warning=False

# VERBOSE=True
VERBOSE=True

OPTIONS=""
if not VERBOSE:
    OPTIONS="--quiet"

# Mise en place des bibliothèques

In [47]:
# Importation des librairies externes
!pip install git+https://github.com/InseeFrLab/Py-Insee-Data@52139da402bc33da6b8892d7d3208f1d2ddfaa02 --ignore-install PyYAML $OPTIONS
!pip install python-Levenshtein $OPTIONS
!pip install openpyxl $OPTIONS
!pip install fuzzywuzzy $OPTIONS
#!pip install pynsee[full]

Collecting git+https://github.com/InseeFrLab/Py-Insee-Data@52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Cloning https://github.com/InseeFrLab/Py-Insee-Data (to revision 52139da402bc33da6b8892d7d3208f1d2ddfaa02) to /tmp/pip-req-build-d1lq1cot
  Running command git clone --filter=blob:none --quiet https://github.com/InseeFrLab/Py-Insee-Data /tmp/pip-req-build-d1lq1cot
  Running command git rev-parse -q --verify 'sha^52139da402bc33da6b8892d7d3208f1d2ddfaa02'
  Running command git fetch -q https://github.com/InseeFrLab/Py-Insee-Data 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Running command git checkout -q 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Resolved https://github.com/InseeFrLab/Py-Insee-Data to commit 52139da402bc33da6b8892d7d3208f1d2ddfaa02
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting PyYAML
  Using cached PyYAML-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (661 kB)
Collecting pathlib2>=2.3.5
  Using cached pathlib2-2.3.7.post1-py2.py3-none-any.whl (18 kB)
Collecting pandas>=0.24.2
  Using cached pandas-1.5.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
Collecting appdirs>=1.4.4
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting datetime>=3.5.9
  Using cached DateTime-4.7-py2.py3-none-any.whl (52 kB)
Collecting unidecode>=1.2.0
  Using cached Unidecode-1.3.6-py3-none-any.whl (235 kB)
Collecting tqdm>=4.56.0
  Using cached tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
Collecting requests>=2.25.1
  Using cached requests-2.28.1-py3-none-any.whl (62 kB)
Collecting zope.interface
  Using cached zope.interface-5.5.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (257 kB)
Collecting pytz
  Using cached pytz-2022.5-py2.py3-none-any.whl (500 kB)
Collecting python-dateutil>=2.8.1
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting numpy>=1.20.3
  Using cached numpy-1.23.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
Collecting six
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2022.9.24-py3-none-any.whl (161 kB)
Collecting charset-normalizer<3,>=2
  Using cached charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
Collecting setuptools
  Using cached setuptools-65.5.0-py3-none-any.whl (1.2 MB)
Building wheels for collected packages: pynsee
  Building wheel for pynsee (pyproject.toml) ... done
  Created wheel for pynsee: filename=pynsee-0.0.1-py3-none-any.whl size=44931167 sha256=109fc65fcafd08cbcadb94d3abd284a556505ee8d135c97831a8a198087937b3
  Stored in directory: /home/onyxia/.cache/pip/wheels/8c/7b/0e/ddbcae537ecfe5872052d8817786354ea4eea01f8a4f67e506
Successfully built pynsee
Installing collected packages: pytz, appdirs, urllib3, unidecode, tqdm, six, setuptools, PyYAML, numpy, idna, charset-normalizer, certifi, zope.interface, requests, python-dateutil, pathlib2, pandas, datetime, pynsee
Successfully installed PyYAML-6.0 appdirs-1.4.4 certifi-2022.9.24 charset-normalizer-2.1.1 datetime-4.7 idna-3.4 numpy-1.23.4 pandas-1.5.1 pathlib2-2.3.7.post1 pynsee-0.0.1 python-dateutil-2.8.2 pytz-2022.5 requests-2.28.1 setuptools-65.5.0 six-1.16.0 tqdm-4.64.1 unidecode-1.3.6 urllib3-1.26.12 zope.interface-5.5.0
Requirement already satisfied: python-Levenshtein in /opt/mamba/lib/python3.9/site-packages (0.20.7)
Requirement already satisfied: Levenshtein==0.20.7 in /opt/mamba/lib/python3.9/site-packages (from python-Levenshtein) (0.20.7)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in /opt/mamba/lib/python3.9/site-packages (from Levenshtein==0.20.7->python-Levenshtein) (2.11.1)
Requirement already satisfied: openpyxl in /opt/mamba/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/mamba/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: fuzzywuzzy in /opt/mamba/lib/python3.9/site-packages (0.18.0)

In [49]:
# Importation des librairies classiques de python
import unicodedata
import requests
import time
import os
from tqdm import tqdm
import io
import warnings

# Importation des librairies de datascience et autres
import pandas as pd
import numpy as np
import pynsee
import pynsee.download
from pynsee.sirene import *
from pynsee.utils.init_conn import init_conn
from zipfile import ZipFile
from fuzzywuzzy import fuzz
from bs4 import BeautifulSoup

In [50]:
insee_key = "5L9J5YHbHq6lgCfv8ITH6f429VEa"
insee_secret = "XbyKQqhwVnofxT_ciBVksw8ffU8a"

In [51]:
# token API insee
#init_conn(insee_key=os.environ['INSEE_KEY'], insee_secret=os.environ['INSEE_SECRET'])
init_conn(insee_key=insee_key, insee_secret=insee_secret)

# Outils d'appareillement de code commune (qui varient d'année en année)

In [52]:
#le choix est fait de travailler en géographie de l'Insee 2021. 

cog_commune = pynsee.download.telechargerDonnees("COG_COMMUNE", date = "dernier")
URL_COG_2021="https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip"

#Télécharger le zip de l'URL
r=requests.get(URL_COG_2021)

open("commune2021-csv.zip", 'wb').write(r.content)
    
    
with ZipFile("commune2021-csv.zip",'r') as myzip:
   data = myzip.open("commune2021.csv")

donnees_cog_2021=pd.read_csv(data,dtype=str)
# On enleve les communes associées,arrondissements et déléguées pour simplifier le dataframe
donnees_cog_2021=donnees_cog_2021[~donnees_cog_2021.TYPECOM.isin(["COMA","COMD","ARM"])]
donnees_cog_2021['NCC et DEP']= donnees_cog_2021['NCC'] + " " + donnees_cog_2021['DEP']
donnees_cog_2021['NCC et COM']= donnees_cog_2021['NCC'] + " ," + donnees_cog_2021['COM']

Data will be stored in the following location: /tmp/tmpnrwsg5st

Downloading:  96%|█████████▋| 1.65M/1.71M [00:00<00:00, 12.3MiB/s]
/opt/mamba/lib/python3.9/site-packages/pynsee/download/__init__.py:182: UserWarning: File in insee.fr modified or corrupted during download
  warnings.warn("File in insee.fr modified or corrupted during download")

No destination directory defined. Data have been written there: /tmp/tmp4apcpvxz

Extracting: 100%|██████████| 6.86M/6.86M [00:00<00:00, 138MB/s]

In [53]:
donnees_cog_2021

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT,NCC et DEP,NCC et COM
0,COM,01001,84,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN,ABERGEMENT CLEMENCIAT 01,"ABERGEMENT CLEMENCIAT ,01001"
1,COM,01002,84,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN,ABERGEMENT DE VAREY 01,"ABERGEMENT DE VAREY ,01002"
2,COM,01004,84,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN,AMBERIEU EN BUGEY 01,"AMBERIEU EN BUGEY ,01004"
3,COM,01005,84,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN,AMBERIEUX EN DOMBES 01,"AMBERIEUX EN DOMBES ,01005"
4,COM,01006,84,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN,AMBLEON 01,"AMBLEON ,01006"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37737,COM,97613,06,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN,M TSANGAMOUJI 976,"M TSANGAMOUJI ,97613"
37738,COM,97614,06,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN,OUANGANI 976,"OUANGANI ,97614"
37739,COM,97615,06,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN,PAMANDZI 976,"PAMANDZI ,97615"
37740,COM,97616,06,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN,SADA 976,"SADA ,97616"
37741,COM,97617,06,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN,TSINGONI 976,"TSINGONI ,97617"

In [54]:
display(donnees_cog_2021.describe())

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT,NCC et DEP,NCC et COM
count,34965,34965,34965,34965,34965,34948,34965,34965,34965,34965,34849,0,34965,34965
unique,1,34965,18,101,100,332,8,32488,32553,32707,2039,0,34963,34965
top,COM,01001,44,62,62D,621,0,SAINTE COLOMBE,Sainte-Colombe,Sainte-Colombe,5723,NaN,LONGEVILLE 25,"ABERGEMENT CLEMENCIAT ,01001"
freq,34965,1,5121,890,890,357,28696,12,12,12,135,NaN,2,1

In [7]:
#fonction pour trouver une commune à partir d'un libellé (codage/codification) à l'aide de la librairie fuzzywuzzy

In [55]:
def trouve_commune_with_fuzz(libelle,dep):
    mondf=donnees_cog_2021[donnees_cog_2021['DEP']==dep]
    mondf['score']=mondf['NCC'].apply(lambda x: fuzz.token_sort_ratio(x,libelle))
    mondf=mondf.sort_values(by="score",ascending=False)
    return mondf['NCC et COM'].iloc[0]

if not donnees_cog_2021.empty:
    print("2 - Téléchargement du Code Officiel Géographi  ====> c'est bon ")
else:
    print("2 - Téléchargement du Code Officiel Géographi  ====> c'est pas bon ")

2 - Téléchargement du Code Officiel Géographi  ====> c'est bon

# Récupérations de données socio-économiques à partir de divers sources

##### [Utilisation de l'API des fichiers locaux](https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#tab2) de l'INSEE

In [ ]:
# version graphique : https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#!/default/getDonnees 
# Commmande cURL équivalente
# curl -X GET --header 'Accept: application/xml' --header 'Authorization: Bearer 1be1a6b6-2e8e-335e-8a5d-91607845b110' 'https://api.insee.fr/donnees-locales/V0.1/donnees/geo-INDICS_FILO_DISP_DET@GEO2021FILO2019/COM-75056.1'

In [9]:
headers = {
    'Accept':'application/xml'
}

Malheureusement l'API est limitée : on ne peut télécharger qu'une fiche par une fiche et 30 fiches par jours par clé. Vu qu'une fiche correspond à une commune c'est limité. Une telle API a son utilisé si on veut mettre un place un outil de recherche graphique comme [l'INSEE l'a fait](https://www.insee.fr/fr/statistiques/zones/6037462). Pour notre utilité cela est limitée, c'est d'ailleurs expliqué sur la [page](https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/pages/item-info.jag?name=DonneesLocales&version=V0.1&provider=insee#tab2:~:text=Nota%20Bene%C2%A0%3A%20Les%20bases%20de%20donn%C3%A9es%20du%20RP%20mises%20%C3%A0%20disposition%20sur%20insee.fr%20ne%20sont%20pas%20soumises%20%C3%A0%20ces%20restrictions%2C%20notamment%20pour%20permettre%20un%20usage%20expert%20des%20donn%C3%A9es%20et%20la%20reconstitution%20%C3%A9ventuelle%20d%E2%80%99information%20sur%20des%20regroupements%20de%20communes%20%C3%A0%20fa%C3%A7on).

## Téléchargements directs depuis le site de l'INSEE (à défaut de l'utilisation de l'API pas encore suffisament opérationnelle)

### Téléchargement des données Filosofi avec les principaux indicateurs de pauvreté et de revenus

In [58]:
# URL de la page à télécharger : https://www.insee.fr/fr/statistiques/6036902
URL_FILO_ZIP_2019="https://www.insee.fr/fr/statistiques/fichier/6036902/base-cc-filosofi-2019_CSV.zip"
nom = URL_FILO_ZIP_2019.split('/')[-1]
response=requests.get(URL_FILO_ZIP_2019)
if response.status_code == 200:
        with open(nom, 'wb') as f:
            f.write(response.content)
with ZipFile(nom, 'r') as zipfile :
    nom_fichier_data = "cc_filosofi_2019_COM.csv"
    nom_fichier_meta = "meta_"+nom_fichier_data
    data = zipfile.open(nom_fichier_data)
    meta = zipfile.open(nom_fichier_meta)
donnees_filo_ind_communes_2019=pd.read_csv(data, sep=";", low_memory=False) 
table_var_filo_ind_com_2019 = pd.read_csv(meta, sep=";", low_memory=False)

In [59]:
donnees_filo_ind_communes_2019.head()

,CODGEO,NBMENFISC19,NBPERSMENFISC19,MED19,PIMP19,TP6019,TP60AGE119,TP60AGE219,TP60AGE319,TP60AGE419,...,PPEN19,PPAT19,PPSOC19,PPFAM19,PPMINI19,PPLOGT19,PIMPOT19,D119,D919,RD19
0,01001,322,819,23970,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,01002,113,263,23640,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2,01004,6711,15040,20510,56,18,21,23,21,16,...,"25,6","12,3","7,7","2,8","3,1","1,8","-15,7",11080,35230,"3,2"
3,01005,720,1823,24050,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
4,01006,s,s,s,s,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s

In [60]:
table_var_filo_ind_com_2019

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR
0,NBMENFISC19,Nombre de ménages fiscaux,Nombre de ménages fiscaux,NaN,NaN,CHAR,7
1,NBPERSMENFISC19,Nombre de personnes dans les ménages fiscaux,Nombre de personnes dans les ménages fiscaux,NaN,NaN,CHAR,7
2,MED19,Médiane du niveau vie (€),Médiane du niveau de vie (€),NaN,NaN,CHAR,5
3,PIMP19,Part des ménages fiscaux imposés (%),Part des ménages fiscaux imposés (%),NaN,NaN,CHAR,2
4,TP6019,Taux de pauvreté-Ensemble (%),Taux de pauvreté-Ensemble (%),NaN,NaN,CHAR,2
...,...,...,...,...,...,...,...
34942,CODGEO,Code géographique,Code géographique,97420,Sainte-Suzanne,CHAR,5
34943,CODGEO,Code géographique,Code géographique,97421,Salazie,CHAR,5
34944,CODGEO,Code géographique,Code géographique,97422,Le Tampon,CHAR,5
34945,CODGEO,Code géographique,Code géographique,97423,Les Trois-Bassins,CHAR,5
34946,CODGEO,Code géographique,Code géographique,97424,Cilaos,CHAR,5

### Téléchargement des données des populations légales du millénisme 2019

In [61]:
#Téléchargement des populations légales du millénisme 2018 
URL_POP_LEG="https://www.insee.fr/fr/statistiques/fichier/6011070/ensemble.zip"

#Télécharger le zip de l'URL
r=requests.get(URL_POP_LEG)

open("ensemble.zip", 'wb').write(r.content)
    
    
with ZipFile("ensemble.zip",'r') as myzip:
    data = myzip.open("donnees_communes.csv")

donnees_pop_leg_19=pd.read_csv(data,sep=';',dtype=str)
donnees_pop_leg_19["CODE_INSEE"]=donnees_pop_leg_19["CODDEP"]+donnees_pop_leg_19["CODCOM"]
donnees_pop_leg_19=donnees_pop_leg_19.set_index("CODE_INSEE")

In [72]:
if VERBOSE:
    display(donnees_pop_leg_19.sample(10))
if VERBOSE:
    display(donnees_pop_leg_19.describe())
   
if not donnees_pop_leg_19.empty:
    print("6 - Téléchargement des populations légales  ====> c'est bon ")
else:
    print("6 - Téléchargement des populations légales  ====> c'est pas bon ")

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
CODE_INSEE,,,,,,,,,,
35191,53,Bretagne,35,1,01,191,Les Portes du Coglais,2319,49,2368
04068,93,Provence-Alpes-Côte d'Azur,04,4,11,068,Dauphin,836,14,850
57543,44,Grand Est,57,9,18,543,Pierrevillers,1498,24,1522
21187,27,Bourgogne-Franche-Comté,21,1,01,187,Commarin,123,4,127
27037,28,Normandie,27,2,07,037,Barc,1178,22,1200
46279,76,Occitanie,46,2,11,279,Saint-Maurice-en-Quercy,210,3,213
14579,28,Normandie,14,4,01,579,Seulline,1321,24,1345
95218,11,Île-de-France,95,3,05,218,Éragny,18296,120,18416
03136,84,Auvergne-Rhône-Alpes,03,1,12,136,Lamaids,235,5,240
27025,28,Normandie,27,1,12,025,Autheuil-Authouillet,956,19,975

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
count,34990,34990,34990,34990,34990,34990,34990,34990,34990,34990
unique,17,17,100,9,59,908,32732,5899,719,5930
top,44,Grand Est,62,2,02,077,Sainte-Colombe,139,3,117
freq,5121,5121,890,10778,1885,89,12,76,2338,73

6 - Téléchargement des populations légales  ====> c'est bon

### Téléchargement des données d'emploi localisées

In [ ]:

URL_TAUX_CHOMAGE_15_24_PAR_COM="https://www.observatoire-des-territoires.gouv.fr/outils/cartographie-interactive/api/v1/functions/GC_API_download.php?type=stat&nivgeo=com2021&dataset=indic_sex_rp&indic=tx_chom1524"


donnees_chomage_15_24_par_com=pd.read_excel(URL_TAUX_CHOMAGE_15_24_PAR_COM, sheet_name='Data',skiprows=4)

In [73]:
if VERBOSE:
   display(donnees_chomage_15_24_par_com)

       codgeo                   libgeo    an sexe  tx_chom1524
0       01001  L'Abergement-Clémenciat  2008    F          8.3
1       01001  L'Abergement-Clémenciat  2008    H         13.8
2       01001  L'Abergement-Clémenciat  2008    T         12.2
3       01001  L'Abergement-Clémenciat  2013    F         16.7
4       01001  L'Abergement-Clémenciat  2013    H         38.5
...       ...                      ...   ...  ...          ...
314680  97617                 Tsingoni  2013    H          NaN
314681  97617                 Tsingoni  2013    T          NaN
314682  97617                 Tsingoni  2018    F          NaN
314683  97617                 Tsingoni  2018    H          NaN
314684  97617                 Tsingoni  2018    T          NaN

[314685 rows x 5 columns]

In [ ]:
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com[donnees_chomage_15_24_par_com["an"]==2019]
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com_travail[donnees_chomage_15_24_par_com_travail["sexe"]=="T"]
donnees_chomage_15_24_par_com_travail=donnees_chomage_15_24_par_com_travail.set_index("codgeo")

In [ ]:
if VERBOSE:
    display(donnees_chomage_15_24_par_com_travail)
if not donnees_chomage_15_24_par_com_travail.empty:
    print("7 - Téléchargement des données d'emplois localisées  ====> c'est bon ")
else:
    print("7 - Téléchargement des données d'emplois localiséess  ====> c'est pas bon ")

In [69]:
%store donnees_filo_ind_communes_2019

Stored 'donnees_filo_ind_communes_2019' (DataFrame)